html,
body {
  background-color: #242424;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
}

.content-center h1 {
  margin: 0;
}

.content-center p {
  margin: 0;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.search-container input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.search-container button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #333;
  transition: background-color 0.3s ease;
}
